{
  "delay": "1500",
  "verbose": true,
  "ignore": [
    "dist",
    "build"
  ],
  "watch": [
    "src/**/*.ts",
    "config",
    "webpack"
  ],
  "env": {
    "NODE_ENV": "development"
  },
  "ext": "js json ts tsx",
  "exec": "ts-node --project tsconfig.json ./src/app.ts"
}
